.bgBlack {
  background-color: var(--darker-header-color);
}
.bgLight {
  background-color: var(--light-color);
}
.bgffff {
  background-color: var(--light-color-2);
}
.bgYellow {
  background-color: var(--yellow-color);
}
.bgGrey {
  background-color: var(--dark-color-3);
}
.cYellow {
  color: var(--yellow-color);
}
.txtWhite {
  color: var(--light-color-2);
}
.txt-md-White {
  color: var(--txt-light-color);
}
.headDesign {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: calc(2rem + 0.6vw);
  line-height: calc(4rem + 0.6vw);
  color: var(--light-color-2);
  z-index: 1;
  left: 2rem;
}
.bodyDesign {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: justify;
  color: var(--txt-light-color);
  z-index: 1;
  left: 0;
}
.eslipse {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 27px;
  color: var(--dark-color-2);
}

.headContent {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 71px;
  color: var(--dark-color);
}

.boxHead {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 41px;
  color: var(--dark-color);
}
.boxP {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: var(--light-grey-box);
}
.newProject {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 71px;

  color: var(--light-color-2);
}

.footerBg {
  background-color: var(--dark-color-2);
}

.copyRight {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  color: var(--light-color);
}
.headAbout {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 111px;
  padding-top: calc(4rem + 0.6vw);
}
.pAbout {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: right;
  color: var(--txt-light-color);
}
.form_about_head {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  /* identical to box height */

  color: #ffffff;
  text-align: center;
  padding-top: 1em;
}
.teammateHead {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 60px;
  /* identical to box height */
  border-right: 1px solid var(--yellow-color);
  color: var(--yellow-color);
}
.teammateP {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-align: justify;

  color: var(--txt-light-color);
}

.teammateBlueHead {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  /* identical to box height */
  color: var(--blue-light-bg-color);
}
.teammateMiddleHead {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  /* identical to box height */

  text-transform: uppercase;

  color: var(--light-color-2);
}
.teammate_head {
  text-align: center;
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 60px;
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-color-2);
}
.teammate_body {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 41px;
  /* identical to box height */

  color: var(--light-color-2);
  margin-left: 50px;
}

.education_head {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  /* identical to box height */

  text-transform: uppercase;
  color: var(--light-color-2);
}
.education_body {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  /* identical to box height */

  text-transform: uppercase;

  color: var(--light-color-2);
}
.skill {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;

  color: var(--light-color-2);
}

.date_blog {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: var(--light-color-2);
}
.head_blog {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 41px;
  /* identical to box height */

  color: var(--light-color-2);
}
.blogDateTime {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: var(--light-color-2);
}
.blogHeadTitle {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 41px;
  color: var(--light-color-2);
}
.blogBodyTxt {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: justify;

  color: var(--txt-light-color);
}
